*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height:100vh;
    display: grid;
    place-items:center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./code.jpg');
    background-size: cover;
}

form{
    width:90%;
    max-width:400px;
    padding: 2rem 1rem;
    border-radius:10px;
    background:rgba(248, 248, 248, 0.175);
    backdrop-filter: blur(5px);
}

form .heading{
    color:cornsilk;
    font-size:2.5rem;
    font-weight:bold;
    padding-bottom:1rem;
    margin-bottom:1.5rem;
}

form > div{
    position:relative;
    margin:1rem 0;
}

form div > input{
    position: relative;
    width:100%;
    height:40px;
    font-size:1.2rem;
    color:#fff;
    border:none;
    outline:none;
    background:transparent;
}

form div > label{
    position:absolute;
    left:0;
    bottom:10px;
    width:100%;
    color:#fff;
    font-size:1.1rem;
    pointer-events: none;
    transition:.3s ease all;
}

form div> input:focus + label,
form div> input:valid + label {
    transform: translateY(-125%);
    filter: opacity(0.9);
}

form > .sign-in{
    width:100%;
    color:#fff;
    font-size:1.2rem;
    border-radius: 5px;
    background:blueviolet;
    border:none;
    padding:.5rem 1rem;
    cursor:pointer;
}